@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
}
/* Configuração para o cabeçalho */
header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    position: sticky;
    top: 0;
    z-index: 1;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 10px;

    background-color: black;
    border-bottom: 1px solid blueviolet;
    box-shadow: 0px 0px 20px blueviolet;
}

header section h1 {
    font-size: 1.9em;
}


header section span {
    padding-left: 5px;
    border-left: 3px solid blueviolet;
}

header menu {
    width: 100%;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    cursor: pointer;
    background-color: black;
}

header nav {
    padding: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transform: translateX(3px);
    transition: all .5s ease-out;
}

header nav.mostrar {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

header nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    font-size: 1em;
    color: white;
}

header nav a:hover {
    color: blueviolet;
}
/* Fim da configuração para o cabeçalho */

/* Configuração do conteúdo */
main {
    margin: 20px 0;
    padding: 15px;
}
/* Configuração da introdução */
section#intro {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    text-align: justify;
    text-indent: 1.5em;
}

section#intro h2, h3 {
    font-weight: normal;
    text-align: center;
}

section#intro article {
    margin: 20px 0;
    line-height: 1.5rem;
}

section#intro article p {
    margin: 1em 0;
}
/* Fim da configuração da introdução */
/* Configuração da seção de aprendizado */
section#aprendiz {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 1em 0;
}

section#aprendiz h2 {
    border-left: 5px solid blueviolet;
    padding-left: 5px;
    transition: border 0.3s;
}

section#aprendiz h2:hover {
    border-left: 8px solid blueviolet;
}

div.conteudo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1.2em;
    padding: 10px;
    border: 3px solid blueviolet;
    border-radius: 10px;
    box-shadow: 0px 0px 5px blueviolet;
    cursor: pointer;
}

section#aprendiz article {
    border: 3px solid blueviolet;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 5px blueviolet;
    margin: auto;
    margin-top: -2px;
    padding: 0 10px;
    width: 85%;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transform: translateY(0px);
    transition: all 0.6s ease-out;
}
section#aprendiz article.mostrar {
    opacity: 1;
    max-height: 500px;
    padding: 10px;
    visibility: visible;
    overflow: hidden;
    transform: translateY(0);
}

section#aprendiz article ul {
    list-style-type: none;
}

section#aprendiz article li {
    padding: 10px 0;
}

section#aprendiz article a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid blueviolet;
}

section#aprendiz article a:hover {
    color: blueviolet;
}
/* Fim da configuração da seção de aprendizado */

/* Configuração da seção de projetos */
section#projetos {
    display: none;
}
/* Fim da configuração da seção de aprendizado */

/* Configuração da seção sobre mim */
section#sobre {
    margin-top: 1em;
    padding: 10px 0;
}

section#sobre h2 {
    border-left: 5px solid blueviolet;
    padding-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: border .3s;
}

section#sobre h2:hover {
    border-left: 8px solid blueviolet;
}

section#sobre p {
    margin-top: .8em;
    text-align: justify;
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5em;
}

section#sobre a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid blueviolet;
}

section#sobre a:hover{
    color: blueviolet;
}
/* Fim da configuração da seção sobre mim */

/* Fim da configuração do conteúdo */

/* Configuração para o rodapé */
footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5px;
    border-top: 1px solid blueviolet;
    box-shadow: 0px 0px 20px blueviolet;
}

footer a {
    text-decoration: none;
    font-size: 1em;
    color: white;
}

footer a:hover {
    color: blueviolet;
}
/* Fim da configuração para o rodapé */