@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
    color: white;
}
/* Configuração para o cabeçalho */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 10px;

    background-color: black;
    border-bottom: 1px solid blueviolet;
    box-shadow: 0px 0px 20px 2px blueviolet;
}

header section h1 {
    font-size: 1.9em;
}


header section span {
    padding-left: 5px;
    border-left: 3px solid blueviolet;
}

header menu {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    background-color: black;
}

header menu > i {
    font-size: 1.5em;
    padding: 5px;
    border: 1px solid blueviolet;
    border-radius: 5px;
}

header nav {
    padding: 8px;
    white-space: nowrap;
    border: 1px solid blueviolet;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transform: translateX(3px);
    transition: all .5s ease-out;
}

header nav.mostrar {
    max-width: max-content;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

header nav ul {
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    font-size: 1em;
    color: white;
}

header nav a:hover {
    color: blueviolet;
}
/* Fim da configuração para o cabeçalho */

/* Configuração do conteúdo */
main {
    margin: 20px 0;
    padding: 15px;
}

section#intro {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    text-align: justify;
    text-indent: 1em;
}

section#intro h2, h3 {
    font-weight: normal;
    text-align: center;
}

section#intro article {
    margin: 20px 0;
    line-height: 1.5rem;
}

section#intro article p {
    margin: 1em 0;
}
/* Fim da configuração do conteúdo */

/* Configuração para o rodapé */
footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5px;
    border-top: 1px solid blueviolet;
    box-shadow: 0px 0px 20px 5px blueviolet;
}

footer a {
    text-decoration: none;
    font-size: 1em;
    color: white;
}

footer a:hover {
    color: blueviolet;
}
/* Fim da configuração para o rodapé */