@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
/* Configuração para o cabeçalho */
header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    position: sticky;
    top: 0;
    z-index: 1;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 10px;

    background-color: black;
    border-bottom: 1px solid blueviolet;
    box-shadow: 0px 0px 20px blueviolet;
}

header section h1 {
    font-size: 1.9em;
}


header section span {
    padding-left: 5px;
    border-left: 3px solid blueviolet;
}

header menu {
    margin-left: auto;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: baseline;
    background-color: black;
}

header menu i {
    cursor: pointer;
}

header nav {
    padding: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transform: translateX(10px);
    transition: all .5s ease-out;
}

header nav.mostrar {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

header nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    font-size: 1em;
    color: white;
}

header nav a:hover {
    color: blueviolet;
}
/* Fim da configuração para o cabeçalho */

/* Configuração para o conteúdo */
/* Faz o número da lista e o título ficarem na mesma linha */

/* Fim da configuração para o conteúdo */

/* Configuração para o rodapé */
footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5px;
    border-top: 1px solid blueviolet;
    box-shadow: 0px 0px 20px blueviolet;
}

footer a {
    text-decoration: none;
    font-size: 1em;
    color: white;
}

footer a:hover {
    color: blueviolet;
}
/* Fim da configuração para o rodapé */