/* Configuração da página */
@charset "UTF-8";

/* :root {
    --font-title: ;
    --font-sub: ;
    --font-text: ;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;

    font-family: Arial, Helvetica, sans-serif;
}
/* Fim da configuração da página */
/* Configuração do cabeçalho */
header{
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: .5em;
    background-color: rgb(70, 12, 97);
    border-bottom: 3px solid rgb(96, 0, 141);
    box-shadow: 0px 5px 10px rgba(96, 0, 141, 0.5);

    text-align: center;
    color: white;
}header a {
    text-decoration: none;
    color: white;
}header a:hover {
    border-bottom: 2px solid white;
}
header span {
    cursor: pointer;
}
menu {
    padding-top: 1em;
}
ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.burguer {
    position: absolute;
    height: max-content;
    padding: .6em;
    opacity: 0;
    visibility: hidden;
    background-color: rgb(70, 12, 97);
    box-shadow: 0px 5px 10px rgba(96, 0, 141, 0.5);
    border-radius: 10px;

    transition: all .3s ease-in-out;
}.burguerOpcoes {
    visibility: visible;
    opacity: 1;
}
.burguer ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: .5em;
}
/* Fim da configuração do cabeçalho */
/* Configuração do conteúdo */
section  {
    scroll-margin-top: 120px;
    padding: .5em;
}section p {
    line-height: 1.5em;
    padding: .4em 0;
}
.header {
    padding: 0 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    border: 3px solid rgb(70, 12, 97);
    border-radius: 5px;
}.header h3 {
    width: 100px;
}
figure {
    position: relative;
}
figcaption {
    width: 100%;
    height: 100%;
    padding: 4px;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    line-height: 1.5em;
    text-align: center;
    opacity: .2;
    transition: all .5s;
}figcaption:hover {
    background-color: rgba(250, 250, 210, .6);
    opacity: 1;
}
ol {
    margin-left: 2em;
    margin-bottom: 1em
}ol li {
    padding: 5px 0;
}
.fala {
    padding-bottom: .4em;
}
/* Fim da configuração do conteúdo */
/* Configuração do rodapé */
footer {
    padding: 8px 5px;
    background-color: rgb(70, 12, 97);
    border-top: 3px solid rgb(96, 0, 141);
    box-shadow: 0px -5px 10px rgba(96, 0, 141, 0.5);
}footer p {
    text-align: center;
}
nav {
    padding-bottom: 5px;
}
/* Fim da configuração do rodapé */