@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Configuração da página */
:root {
    --font-title: "Merriweather", serif;
    --font-text: "Inter", sans-serif;
    --cor-title: #F1F2EC;
    --cor-text: #212025;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #21402D;
    /* background-image: linear-gradient(to bottom, #1A3424, #B6F23A); */
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* Fim da configuração da página */ 
/* Configuração do cabeçalho */
    header {
        border-bottom: 2px solid #F1F2EC;
        outline: 2px solid black;
    }
    .title {
        padding: 10px;
        font: 200 10pt var(--font-title);
        color: var(--cor-title);
    } .title h1 {
        font-weight: 300;
    }
    menu ul {
        padding-top: 10px;
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    } menu li {
        padding: 10px;
    } menu a, menu span {
        cursor: pointer;
        color: var(--cor-title);
        text-decoration: none;
    } menu a:hover, menu span:hover {
        text-decoration: underline;
    }
    .opcoes {
        display: none;
    }
/* Fim da configuração do cabeçalho */
/* Configuração do conteúdo */
    main {
        margin: 12px;        
    }
    .chapter {
        
        margin: 30px 0;
    } .chapter h2{
        /* padding: 0 10px;
        font: 600 18pt var(--font-title);
        text-align: center;
        color: var(--cor-title);
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); */
        max-width: fit-content;
        padding: 8px 16px;

        font: 600 15pt var(--font-title);
        text-align: center;
        color: var(--cor-title);

        border: 3px solid #734134;
        outline: 2px solid #262626;
        border-radius: 6px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    }
    .card {
        margin: 20px 0;
        overflow: hidden;

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-end;

        background-color: #383D43;
        outline: 2px solid black;
        border: 3px solid #636D68;
        border-radius: 8px;
        box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.6);

        position: relative;
    } .header-card {
        width: 130px;
        padding: 12px 8px;
        background-color: #2C2E33;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    } .img-estufa {
        max-width: 100%;
        height: auto;
        max-height: 120px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }
    .card-text {
        text-align: center;
    } .header-card h3 {
        font: 600 16pt var(--font-title);
        color: var(--cor-title);
    } .header-card h4 {
        font: 400 10pt var(--font-title);
        color: #B5BEB9;
    }
    .page {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 5px;
        padding: 10px;
    } .ref {
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    } .ref h3 {
        font: 400 12pt monospace;
        color: var(--cor-title);
    } .ref img {
        width: 40px;
    }
    .nivel ol {
        display: none;
        margin-left: 25px;
    } .nivel li {
        font-family: 'Courier New', Courier, monospace;
        color: var(--cor-title);
        hyphens: auto;
    }
    .detail {
        padding: 6px;
        border: 6px solid transparent;
        outline: 2px solid #262626;
        border-radius: 6px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, .6) inset;
        background: linear-gradient(#D3C2A6) padding-box, linear-gradient(to right, #4C2C23, #734134) border-box;
    } .detail h2 {
        font: 500 16pt var(--font-title);
    } .detail p {
        padding: 4px 0px;
        font: 400 12pt var(--font-text);
        line-height: 1.4em;
    } .detail a {
        color: #378D1B;
        text-decoration: none;
        text-shadow: 0px 0px 2px #5F942F;
    } .detail a:hover {
        text-decoration: underline;
    }
    .jogo {
        display: block;
    } .jogo img {
        height: 100%;
        width: 100%;
        outline: 2px solid #262626;
        border: 4px solid transparent;
        border-radius: 4px;
        background: linear-gradient(#F1EAD8) padding-box, linear-gradient(to bottom, #734134, #4C2C23) border-box;
    }
    .fala {
        padding-left: 4px;
        border-left: 6px solid #4C2C23;
        border-radius: 5px;
    } .fala p {
        padding: 2px 0;
    } .fala blockquote {
        padding-left: 8px;
        font: normal 12pt var(--font-text);
    }
/* Fim da configuração do conteúdo */
/* Configuração do rodapé */
    footer {
        min-height: 150px;
        padding: 0 5px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3) inset;
        outline: 1px solid black;
        border-top: 4px solid #734134;
        background-image: url(../images/stardew-valley_footer.jpg);
        background-position: center;
        background-repeat: no-repeat;
    } footer p {
        width: 70%;
        padding: 8px 5px;
        font: normal 10pt var(--font-text);
        text-align: center;
        hyphens: auto;
        color: var(--cor-text);
    } 
    nav {
        padding: 5px 0;
    } nav ul {
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    } nav a {
        font: 500 12pt var(--font-text);
        color: var(--cor-title);
        text-shadow: 0px 2px 2px black;
        text-decoration: none;
    } nav a:hover {
        text-decoration: underline;
    }
/* Fim da configuração do rodapé */