@charset "UTF-8";

/* Todas as mídias */

/* 
Typical device breakpoints 2025

Pequenas telas: menor que 576px
Celulares: de 576px até 991px
Tablets: de 992px até 1200px
Computadores: de 1200px até 1400px
Grandes telas: maior que 1400px
*/

/* Impressora */
@media print {
    body {
        background-image: url(../imagem/back-print.jpg); /* A versão de impressora não imprime imagem em formato "background"*/
    }

    main {
        border: 2px solid black;
        width: 90vw;
        height: 90vh;
    }

    main::after {
        content: 'Testando o modo de impressão';
        text-decoration: overline;
    }

    h1 {
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

#cel {display: none;}
#tablet { display: none;}
#print { display: block;}
#pc { display: none;}
#tv { display: none;}
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 800px) { 
    body {
        background-image: url(../imagem/back-tablet.jpg);
    }

    main {
        width: 500px;
    }

#cel {display: none;}
#tablet { display: block;}
#print { display: none;}
#pc { display: none;}
#tv { display: none;}
}

/* Computadores */
@media screen and (min-width: 800px) and (max-width: 1000px) {
    body {
        background-image: url(../imagem/back-pc.jpg);
    }

    main {
        width: 700px;
    }
#cel {display: none;}
#tablet { display: none;}
#print { display: none;}
#pc { display: block;}
#tv { display: none;}
}

/* Grandes telas */
@media screen and (min-width: 1000px) {
    body {
        background-image: url(../imagem/back-tv.jpg);
    }

    main {
        width: 900px;
    }
#cel {display: none;}
#tablet { display: none;}
#print { display: none;}
#pc { display: none;}
#tv { display: block;}
}