@charset "UTF-8";

body {
    background-image: url(images/espaco.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div {
    height: 95vh;
    width: 95vw;
    background-image: url(images/astronauta.png);
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
}