@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    background-color: #5B6370;
}
/* Config header */
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #2B4985;
    text-align: center;
}

header h1 {
    padding: .5em 0 .1em 0;
    color: #FBDB9E;
    font-family:'Press Start 2P', Courier, monospace;
    font-size: 2em;
    text-shadow: 0px 2px 5px black;
}

header p {
    color: #A8B6D9;
    font-family: 'Source Code Pro', Courier, monospace;
}

nav {
    background-color: #262B33;
    margin-top: .6em;
    padding: 10px 0;
    border-top: 5px solid #416DB3;
    box-shadow: 0px -1px 5px #416DB3;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

nav a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .9em;
    color: #FCFDF8;
    padding: 5px;
}

nav a:hover {
    border-bottom: 3px solid #2E8C4B;
    border-top: 3px solid #2E8C4B;
    text-shadow: 0px 0px 8px #9BD89C;
    color: #9BD89C;
}
/* Fim da config */
/* Config conteúdo*/
main header {
    background-color: #262B33;
    margin: 1em auto;
}

article, .code, .video {
    margin: 1em auto;
    padding: .8em;
    /*
    Config para media query: 
    max-width: 80%;
    */
    background-color: #262B33;
    border: 5px solid #3D484D;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

h2, h3, h4{
    color: #DBE6D6;
    font-family: 'Source Code Pro', Courier, monospace;
    margin-bottom: .2em;
}

p {
    color: #EBEDEA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    text-indent: 1em;
    line-height: 1.5em;
    padding-bottom: 10px;
}

table {
    width: 100%;
    margin: 10px 0;
    border-collapse: separate;
    border-radius: 15px;
    background-color: #262B33;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

th, td {
    border: 1px solid #3D484D;
    padding: 15px 12px;
    text-align: center;
}

.video iframe {
    margin-bottom: 1em;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

code {
    padding: 2px 6px;
    background: #3D484D;
    border-radius: 5px;
    color: #EEAF14;
}

pre {
    margin-bottom: .8em;
    padding: 1em;
    background-color: #1e1e1e;
    border-radius: 8px;
    color: #EEAF14;
    overflow-x: auto;
}

footer {
    background-color: #2B4985;
    margin-top: 2em;
}
/* Fim da config*/
/* Config individual*/
h3 {
    font-size: 1.5em;
}

main ol, ul {
    margin: 0 1em;
    color: #EBEDEA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   main li {
    padding-bottom: .6em;
    font-size: 1em;
}

pre:last-child {
    margin-bottom: 0;
}

pre code {
    padding: 0;
    background: transparent;
    border: none;
    text-shadow: none;
    font-size: 1.3em;
}

th {
    background-color: #2B4985; /* Cor do seu header */
    color: #FBDB9E; /* Amarelo do seu h1 */
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: 'Source Code Pro', Courier, monospace;
    font-weight: bold;
}   td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: #EBEDEA;
}

.video {
    width: 100%;
    aspect-ratio: 16 / 9;
}   .video p, .code p {
    text-indent: 0;
}   .video > iframe:last-child {
    margin-bottom: 0;
}

footer nav{
    margin: 0;
    border-top: 0;
    border-bottom: 5px solid #416DB3;
    box-shadow: 0px 1px 5px #416DB3;
}   footer p{
    color: #FBDB9E;
    text-align: center;
    padding: .5em 0;
}
/* Fim da Config*/