@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Configuração da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html, body {
    scroll-behavior: smooth;
    background-color: #5B6370;
}
/* Fim da configuração */

/* Configuração do header */
header {
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0px 2px 10px black;
    background-color: #2B4985;
    text-align: center;
}
/* Fim da configuração */

/* Configuração do nav */
nav {
    background-color: #262B33;
    margin-top: .6em;
    padding: 10px 0;
    border-top: 5px solid #416DB3;
    box-shadow: 0px -1px 5px #416DB3;
}
footer nav{
    margin: 0;
    border-top: 0;
    border-bottom: 5px solid #416DB3;
    box-shadow: 0px 1px 5px #416DB3;
}
/* Fim da configuração */

/* Configuração das palavras*/
h1 {
    padding: .5em 0 .2em 0;
    color: #FBDB9E;
    font-family:'Press Start 2P', Courier, monospace;
    text-shadow: 0px 2px 5px black;
}h2, h3{
    color: #DBE6D6;
    font-family: 'Source Code Pro', Courier, monospace;
    margin-bottom: .2em;
}#intro h2, #perfil h2 {
    text-align: center;
}.header h3 {
    margin: 0;
    font-size: 1.5em;
}.progresso h4 {
    padding: 8px;
    flex-grow: 1;
    font-family: 'Source Code Pro', Courier, monospace;
    font-size: 1.2em;
    color: #DBE6D6;
    border: 3px solid transparent;
    border-radius: 10px;
    background: linear-gradient(#262B33) padding-box, linear-gradient(to left, #EEAF14, #2E8C4B) border-box;
    box-shadow: 1px 1px 5px #EEAF14;
}

p {
    color: #EBEDEA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 1em;
    padding-bottom: 8px;
}.card p:last-child{
    padding: 0;
    text-indent: 0;
    text-align: justify;
    line-height: 1.3em;
}.card2 p {
    width: 100%;
    height: auto;
    padding: 5px;
    line-height: 1.2em;
    text-indent: 0px;
    text-align: justify;
}header p {
    color: #A8B6D9;
    font-family: 'Source Code Pro', Courier, monospace;
    font-size: .9em;
}footer p{
    color: #FBDB9E;
    text-align: center;
}
/* Fim da configuração */

/* Configuração dos links */
a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9BD89C;
}a:hover {
    text-shadow: 0px 0px 8px #2E8C4B;
    color: #2E8C4B;
}nav a {
    color: #FCFDF8;
    padding: 5px;
}nav a:hover {
    border-bottom: 3px solid #2E8C4B;
    border-top: 3px solid #2E8C4B;
    text-shadow: 0px 0px 8px #9BD89C;
    color: #9BD89C;
}
/* Fim da configuração */

/* Configuração da sessão */
section {
    margin: 1.5em auto;
    padding: .8em;
    background-color: #262B33;
    border: 5px solid #3D484D;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}.card figure{
    width: 100%;
    margin: .5em auto;
    overflow: hidden;
    border-radius: 10px;
}.card img {
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-radius: 10px;
    background: linear-gradient(to top, #EEAF14, #2E8C4B) border-box;
}
.card2 figure{
    width: 45%;
    padding-top: 8px;
    margin-right: 8px;
    float: left;
}.card2 img {
    height: 100%;
    width: 100%;
    border: 4px solid transparent;
    border-radius: 10px;
    background: linear-gradient(to top, #EEAF14, #2E8C4B) border-box;
}
.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    border: 3px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 00px;
    background: linear-gradient(#262B33) padding-box, linear-gradient(to left, #EEAF14, #2E8C4B) border-box;
    box-shadow: 1px 0px 5px #EEAF14;
}.info-img {
    position: relative;
    width: fit-content;
}.info-img i {
    color:  #DBE6D6;
    cursor: help;
    position: absolute;
    top: 0px;
    right: -1px;
    z-index: 1;
}.info-img figure {
    position: relative;
}.info-img figcaption{
    width: 100%;
    height: 96%;
    padding: 5px;
    border-radius: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    font-family: 'Source Code Pro', Courier, monospace;
    font-size: .8em;
    color: #FBDB9E;
    opacity: .3;
    transition: opacity .3s;
    cursor: help;
}.info-img figcaption:hover {
    background-color: rgba(92, 100, 112, .5);
    opacity: 1;
}.progresso {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
}.progresso h4 {
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}.progresso figure {
    border: 3px solid #EEAF14;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 8px #EEAF14;
}.progresso img {
    width: 100%;
    height: 100%;
}
/* Fim da configuração */

/* Configuração das listas */
ol {
    color: #9BD89C;
    margin-bottom: .6em;
    margin-top: -5px;
    margin-left: 2.5em;
}
ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
li {
    font-size: 1.1em;
}
/* Fim da configuração */
footer {
    margin-top: 3em;
    background-color: #2B4985;
}